<div class="container">
    <table>
        {{#data}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{state}}</td>
            <td><a href="/details/{{id}}">link</a></td>
        </tr>
        {{/data}}
    </table>
</div>