<div class="row">
    <h3 style="text-align:center" class="col-md-6 col-md-offset-3">Create and post your material here</h3>
</div>
<div class="row">
 <form class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <input id="mat-title" type="text" class="form-control input-lg" placeholder="Material title" />
  </div>
  <div class="form-group">
    <input id="mat-desc" type="text" class="form-control input-lg"" placeholder="Material description" />
  </div>
  <div class="form-group">
    <input id="pic-source" type="text" class="form-control input-lg" placeholder="pic-source" />
  </div>
   <div class="form-group">
        <button id="sumbit-material" class="btn btn-primary btn-lg btn-block">Submit Material</button>
 </form>
</div>

