<div class="row" style="margin-top:50px;">
        <form class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <input id="form-name" type="text" class="form-control input-lg" placeholder="Name" value="johnnybravo">
    </div>
    <div class="form-group">
        <input id="login-pass" type="password" class="form-control input-lg" placeholder="Password" value="mypass123">
    </div>
    <div class="form-group">
        <button id="login-btn" class="btn btn-primary btn-lg btn-block">Sign In</button>
        <span class="pull-right"><a id="reg-button" href="#/login">New Registration</a></span>
    </div>
</form>
    </div>